
.container {
    margin: 0px;
    padding: 0px;
}

.carousel-container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    
}
.img-container{
   
    width: 98%;
    margin: 0 auto;
   
}
.voteBtn{
    position: absolute;
    bottom: 10px;
    /* Start hidden */
    left: 50%;
    transform: translateX(-50%);
    color: black;
    width: 30%;
    font-size: 1rem;
    font-weight: bold;
    z-index: 2;
    /* Smooth easing curve */
}
.footer-container {
    width: 100%;
    margin-top: 0px;
    padding: 0px;
    position: relative;
    color: #fff;
    height: 35vh;
    background-color: #070F2B;
}

.inner-div {
    width: 250px;
    text-align: center;
    padding: 15px;
    background-color: #535C91 ;
    top: -30px;
    position: relative;
    border-radius: 5px;
    margin: 0 auto;
}

.outer-div {
    margin-left: 100px;
    position: relative;
    width: 100%;
   
}

.carousel-image {
    width: 100%;
    height: auto;
    transition: transform 0.4s ease-in-out;
}

.carousel-image:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.carousel-text {
    position: absolute;
    bottom: -50px; /* Start hidden */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 100px;
    font-size: 1rem;
    font-weight: bold;
    opacity: 0;
    padding-top: 10px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    transition: all 1.8s cubic-bezier(0.4, 0, 0.2, 1); /* Smooth easing curve */
}

.carousel-text.animate {
    bottom: 0px; /* Visible position */
    opacity: 1;
}

.carousel-text p {
   padding-top: 3px;
}

@media (max-width: 768px) {

    .img-container{
        width: 100%;
        
    }
    .carousel-container{
        margin-top: 0px;
    }
}



nav {
    padding: 4px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #424769;
    position: relative;
    height: 70px;
    font-family:serif;
}

.logo {
    color: #fff;
}

nav ul {
    display: flex;
    gap: 10px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.menu-icon {
    display: none;
}

.menu-icon i {
    color: #fff;
    font-size: 30px;
}

form {
    max-width: 250px;
    position: relative;
    margin: 50px auto 0;
    font-size: 15px;
}

.radiobtn {
    position: relative;
    display: block;
}

.radiobtn label {
    display: block;
    background: #ffd28f;
    /* Lightened accent color */
    color: #444;
    /* Dark color */
    border-radius: 5px;
    padding: 10px 20px;
    border: 2px solid #ffc07f;
    /* Slightly darker lightened accent */
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
}

.radiobtn label:after,
.radiobtn label:before {
    content: "";
    position: absolute;
    right: 11px;
    top: 11px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: #ffbd6e;
    /* Lightened accent color */
}

.radiobtn label:before {
    background: transparent;
    transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1),
        0.3s height cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
    z-index: 2;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center;
    width: 0;
    height: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
}

.radiobtn input[type="radio"] {
    display: none;
    position: absolute;
    width: 100%;
    appearance: none;
}

.radiobtn input[type="radio"]:checked+label {
    background: #ffbd6e;
    /* Lightened accent color */
    animation-name: blink;
    animation-duration: 1s;
    border-color: #fcae2c;
    /* Accent color */
}

.radiobtn input[type="radio"]:checked+label:after {
    background: #fcae2c;
    /* Accent color */
}

.radiobtn input[type="radio"]:checked+label:before {
    width: 20px;
    height: 20px;
}

@keyframes blink {
    0% {
        background-color: #ffbd6e;
    }

    10% {
        background-color: #ffbd6e;
    }

    11% {
        background-color: #ffc07f;
    }

    29% {
        background-color: #ffc07f;
    }

    30% {
        background-color: #ffbd6e;
    }

    45% {
        background-color: #ffbd6e;
    }

    50% {
        background-color: #ffc07f;
    }

    100% {
        background-color: #ffbd6e;
    }
}

  @media (hover: hover) {
      &:hover {
          filter: drop-shadow(0 12px 12px var(--shadow-color));
      }
  }

  &.primary {
      --shadow-color: rgb(36 25 95 / .8);
  }

  &.secondary {
      --shadow-color: rgb(255 255 255 / .4);
  }
 
  .button-wrapper {
      filter: drop-shadow(0 8px 8px var(--shadow-color));
      transition: filter 0.4s;
      will-change: filter;
  }

  @media (hover: hover) {
      .button-wrapper:hover {
          filter: drop-shadow(0 12px 12px var(--shadow-color));
      }
  }

  .button-wrapper.primary {
      --shadow-color: rgba(36, 25, 95, 0.8);
  }

  .button-wrapper.secondary {
      --shadow-color: rgba(255, 255, 255, 0.4);
  }

  .button {
      position: relative;
      padding: 12px 40px;
      min-width: 8rem;
      margin-top: 10px;
      clip-path: polygon(14px 0,
              calc(100% - 14px) 0,
              100% 50%,
              calc(100% - 14px) 100%,
              14px 100%,
              0 50%);
      text-align: center;
      font-family: 'IBM Plex Mono', monospace;
      font-weight: bold;
      color: #fff;
      transition: transform 0.4s cubic-bezier(0.55, 1, 0.15, 1);
  }

  @media (hover: hover) {
      .button:hover {
          transform: translateY(-4px);
      }
  }

  .button:focus-visible {
      transform: translateY(-4px);
  }

  .button:active {
      transform: translateY(-4px) scale(0.94);
  }

  .button-wrapper.primary .button {
      background-image: linear-gradient(to bottom, #29224d, #776cc9);
  }

  .button-wrapper.secondary .button {
      background-image: linear-gradient(to bottom, #8a8894, #c8c7ca);
  }

  .button-inner-wrapper {
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      filter: blur(2px);
  }

  .button-inner {
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      clip-path: polygon(14px 4px,
              calc(100% - 14px) 4px,
              calc(100% - 1px) 50%,
              calc(100% - 14px) calc(100% - 4px),
              14px calc(100% - 4px),
              1px 50%);
      transition: transform 0.4s;
      will-change: transform;
  }

  @media (hover: hover) {
      .button:hover .button-inner {
          transform: scale(0.96);
      }
  }

  .button:focus-visible .button-inner {
      transform: scale(0.96);
  }

  .button-wrapper.primary .button-inner {
      background-image: linear-gradient(to bottom, #3b2d96, #3e3861);
  }

  .button-wrapper.secondary .button-inner {
      background-image: linear-gradient(to right, #67666e, #0f0d21);
  }